
*.meta
MajorProject_2021/Packages/com.ptc.vuforia.engine-10.0.12.tgz
MajorProject_2021/Assets/Editor/Migration/com.ptc.vuforia.engine-10.0.12.tgz
MajorProject_2021/Assets/Editor/Migration/AddVuforiaEnginePackage.cs
MajorProject_2021/Assets/Editor/Migration/com.ptc.vuforia.engine-10.0.12.tgz.meta
MajorProject_2021/Assets/FROM MIXAMO/Animations/CPR Animations/Editor/Migration/com.ptc.vuforia.engine-10.0.12.tgz
MajorProject_2021.zip
